.container {
  background-color: #cc2062;
  border: 1px solid #cc2062;
  border-radius: 0.75rem;
  height: 1.5rem;
  width: 2rem;
  margin-left: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.2s ease-out;
}

.container--inactive {
  filter: grayscale(1);
}

.container__icon {
  fill: #fff;
  color: white;
}

.container:not([disabled]) .container__icon:hover,
.container:not([disabled]) .container__icon:focus,
.container:not([disabled]) .container__icon:active {
  transform: scale(0.75, 0.75);
}
