.badge {
  background-color: #cc2062;
  border-radius: 12px;
  height: 1.5rem;
  width: 2rem;
  margin-left: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge__trash-icon {
  fill: #fff;
  transform: scale(0.9);
  height: 1.5rem;
  color: white;
  margin-left: 0.25rem;
}

.badge__trash-icon:hover,
.badge__trash-icon:active,
.badge__trash-icon:focus {
  transform: scale(0.8);
}

@media (min-width: 768px) {
  .badge{
    background-color: #77002e;
  }

  .badge__trash-icon {
    transform: scale(1);
  }
}
